<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="engine" class="com.cognizant.week3.constructor.Engine"/>
    <bean id="car" class="com.cognizant.week3.constructor.Car"><constructor-arg ref="engine"/></bean>
</beans>
